<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">TRUCYBER Lab @ UTEP</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for item in site.data.navigation %}
                        <li class="nav-time">
                            <a class="nav-link" href="{{ item.link }}" {% if page.url == / %}class="current"{% endif %}>
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>    
</div>
