@import "bootstrap";

body {
	padding-top: 70px;
}

/* Top navigation bar */
p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}

pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; /* or 950px */
  }

/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}